@import "../../styles/constants.scss";

.Button {
  --button-font-size: var(--text-font-size-s);
  --button-font-weight: normal;
  --button-line-height: 36px;
  --button-color: var(--black-500);
  --button-letter-spacing: normal;
  --button-bg-color: var(--color-bg-control);
  --button-bg-color-hovered: var(--color-bg-control-hovered);
  --button-radius: var(--border-radius-s);
  --button-padding: 20px;
  --button-active-border-color: var(--color-border-focused);
  --button-disabled-bg-color: var(--color-bg-disabled);
  --button-disabled-bg-color-hovered: var(--color-bg-disabled);
  --button-disabled-active-border-color: var(--color-bg-disabled);
  --button-disabled-color: var(--color-text-disabled);

  background-color: var(--button-bg-color);
  padding: 0 var(--button-padding);
  cursor: pointer;
  border-radius: var(--button-radius);
  border: none;

  &-Icon {
    display: none;
  }

  &-Text {
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);
    color: var(--button-color);
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    text-align: center;
    white-space: nowrap;
  }

  &:hover {
    background-color: var(--button-bg-color-hovered);
  }

  &:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 2px var(--button-active-border-color);
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &_type {
    &_control {
      & .Button-Text {
        line-height: 28px;
      }
    }

    &_controlExtended {
      & .Button-Text {
        line-height: 28px;
      }
    }
  }

  &_color {
    &_accent {
      --button-bg-color: var(--color-bg-action);
      --button-bg-color-hovered: var(--color-bg-action-hovered);
      --button-active-border-color: var(--color-border-action-focused);
    }

    &_transparent {
      --button-bg-color: transparent;
      --button-bg-color-hovered: rgba(0, 0, 0, 0.1);
      --button-active-border-color: rgba(0, 0, 0, 0.2);
      box-shadow: inset 0px 0px 0px 1px var(--button-active-border-color);
    }
  }

  &_icon {
    &_before {
      --button-padding: var(--space-s);
      display: flex;

      & .Button-Icon {
        display: block;
        align-self: center;
      }

      & .Button-Text {
        align-self: center;
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    &_only {
      padding: var(--space-s);
      display: flex;

      & .Button-Icon {
        display: block;
        align-self: center;
      }

      & .Button-Text {
        display: none;
      }
    }
  }

  &_disabled {
    --button-bg-color: var(--button-disabled-bg-color);
    --button-bg-color-hovered: var(--button-disabled-bg-color-hovered);
    --button-active-border-color: var(--button-disabled-active-border-color);
    --button-color: var(--button-disabled-color);
    pointer-events: none;

    & .Button-Icon,
    & .Button-Text {
      opacity: 0.5;
    }
  }

  @media (max-width: $screen-mobile) {
    &_icon {
      &_before {
        padding: var(--space-s);

        & .Button-Text {
          display: none;
        }
      }
    }

    &_type {
      &_controlExtended {
        padding-left: 20px;
        padding-right: 20px;

        & .Button-Text {
          line-height: 36px;
        }
      }
    }
  }
}
