.BuildLog {
  background: var(--color-bg-disabled);
  border-radius: var(--border-radius-l);
  padding: 8px 12px;
  font-family: 'Hack', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: var(--text-font-size-xs);
  line-height: 20px;
  color: var(--color-text);
  opacity: 0.9;
  overflow-y: hidden;
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: var(--space-xs);
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 100px;
  }
}