.Text {
  --text-font-size: var(--text-font-size-s);
  --text-font-weight: normal;
  --text-line-height: var(--space-l);
  --text-color: var(--black-500);
  --text-letter-spacing: normal;

  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  color: var(--text-color);
  font-weight: var(--text-font-weight);
  letter-spacing: var(--text-letter-spacing);

  &-NonBreakable {
    white-space: nowrap;
  }

  &_type {
    &_headerTitle {
      --text-font-size: var(--headline-font-xl);
      --text-font-weight: 500;
      --text-line-height: 28px;
      --text-color: var(--blue-grey-500);
      --text-letter-spacing: var(--letter-spacing-l);
    }

    &_repositoryName {
      --text-font-size: var(--headline-font-xl);
      --text-font-weight: 500;
      --text-line-height: 30px;
      --text-letter-spacing: var(--letter-spacing-l);
    }

    &_footer {
      --text-color: var(--blue-grey-500);
    }

    &_formHeader {
      --text-font-size: var(--headline-font-m);
      --text-font-weight: 700;
      --text-line-height: 20px;
    }

    &_formLabel {
      --text-line-height: 18px;
      --text-letter-spacing: var(--letter-spacing-m);
    }

    &_card {
      --text-letter-spacing: var(--letter-spacing-m);
    }

    &_commit {
      font-size: 15px;
      line-height: 20px;
    }
  }

  @media (max-width: $screen-mobile) {
    &_type {
      &_headerTitle {
        --text-font-size: var(--text-font-size-l);
        --text-line-height: 22px;
      }

      &_repositoryName {
        --text-font-size: var(--text-font-size-l);
        --text-line-height: 22px;
      }
    }
  }
}