.Icon {
  $default_icon_size: var(--space-l);
  --icon-size: #{$default_icon_size};

  width: var(--icon-size);
  height: var(--icon-size);
  background-image: url("./img/all_icons.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  $icon_size_m: 12px;
  $icon_size_l: 16px;
  $icon_size_xl: 24px;
  $icon_size_xxxxl: 124px;
  $icon_gap: 2px;

  $icons: (
    (
      size: var(--space-m),
      sizeSass: $icon_size_m,
      y: 0,
      array: (
        ("restart"),
        ("play"),
        ("settings")
      )
    ),
    (
      size: var(--space-l),
      sizeSass: $icon_size_l,
      y: $icon_size_m + $icon_gap,
      array: (
        ("branch"),
        ("calendar"),
        ("user"),
        ("stopwatch"),
        ("clear")
      )
    ),
    (
      size: var(--space-xl),
      sizeSass: $icon_size_xl,
      y: $icon_size_m + $icon_size_l + 2 * $icon_gap,
      array: (
        ("done"),
        ("clock"),
        ("fail")
      )
    ),
    (
      size: var(--space-xxxxl),
      sizeSass: $icon_size_xxxxl,
      y: $icon_size_m + $icon_size_l + $icon_size_xl + 3 * $icon_gap,
      array: (
        ("settingsLogo")
      )
    )
  );

  @for $j from 0 to length($icons) {
    &_type {
      $icons_type_row: nth($icons, $j + 1);
      $icon_size: map-get($icons_type_row, "size");
      $icon_sizeSass: map-get($icons_type_row, "sizeSass");
      $y: map-get($icons_type_row, "y");
      $icon_array: map-get($icons_type_row, "array");

      @for $i from 0 to length($icon_array) {
        $icon_type: nth($icon_array, $i + 1);

        &_#{$icon_type} {
          @if ($icon_size != $default_icon_size) {
            --icon-size: #{$icon_size};
          }

          $x: -$i * ($icon_sizeSass + $icon_gap);
          background-position: $x #{-$y};
        }
      }
    }
  }
}
