.Card {
  --card-bg-color: var(--white-500);
  --card-shadow-color: var(--blue-grey-600-with-opacity);
  --card-shadow: 0px 1px 1px var(--card-shadow-color),
                 0px 0px 1px var(--card-shadow-color);
  --card-shadow-hovered: 0px 2px 8px var(--card-shadow-color),
                         0px 0px 1px var(--card-shadow-color);
  --card-border-radius: var(--border-radius-l);

  display: block;
  width: 100%;
  padding: 12px 24px;
  text-decoration: none;
  outline: none;
  background-color: var(--card-bg-color);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-border-radius);

  &:hover {
    box-shadow: var(--card-shadow-hovered);
  }

  &-Content {
    display: flex;
  }

  &-Icon {
    align-self: flex-start;
  }

  &-DataWrapper {
    margin-left: 9px;
    align-self: flex-start;
    display: flex;
    width: calc(100% - 24px - 9px);
  }

  &-Data {
    align-self: flex-start;
    max-width: 70%;
  }

  &-TimeBlock {
    margin-left: auto;
    align-self: center;
    min-width: 100px;
  }

  &-TimeItem {
    margin-bottom: var(--space-s);
    display: flex;
    opacity: 0.65;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-TimeIcon {
    align-self: flex-start;
    margin-right: var(--space-xs);
    opacity: 0.3;
  }

  &-TimeText {
    text-align: left;
  }

  &-DataTitle {
    display: flex;
    margin-bottom: var(--space-s);
  }

  &-Number {
    margin-right: var(--space-xs);
    font-weight: 500;
    font-size: var(--text-font-size-l);
    line-height: 20px;
  }

  &-CommitName {
    margin-right: var(--space-xs);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-DataOther {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -8px;
  }

  &-OtherInfo {
    display: flex;
    margin-bottom: var(--space-s);
  }

  &-OtherIcon {
    margin-right: var(--space-xs);
    opacity: 0.3;
  }

  &-OtherText {
    margin-right: var(--space-xs);
    white-space: nowrap;

    &:last-child {
      margin-right: 10px;
    }

    &_type {
      &_hash {
        opacity: 0.65;
      }
    }
  }

  &_type {
    &_done {
      & .Card-Number {
        color: var(--green-500);
      }
    }
    &_fail {
      & .Card-Number {
        color: var(--red-500);
      }
    }
    &_progress {
      & .Card-Number {
        color: var(--orange-500);
      }
    }
  }

  &_page {
    &_details {
      padding: 16px 12px;

      &:hover {
        box-shadow: var(--card-shadow);
      }

      & .Card-DataWrapper {
        flex-direction: column;
        width: calc(100% - 24px);
      }

      & .Card-Data {
        max-width: 100%;
      }

      & .Card-DataOther {
        margin-bottom: 0;
      }

      & .Card-OtherInfo {
        &:last-child {
          margin-bottom: var(--space-s);
        }
      }

      & .Card-CommitName {
        margin-right: 0;
        white-space: unset;
        overflow: unset;
        text-overflow: unset;
      }

      & .Card-TimeBlock {
        margin-left: 0;
        align-self: flex-start;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: relative;
        margin-top: var(--space-s);

        &::after {
          content: '';
          position: absolute;
          top: -8px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: var(--blue-grey-50);
        }
      }

      & .Card-TimeItem {
        margin-right: 10px;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  @media (max-width: $screen-mobile) {
    padding: 16px 12px;

    &-Data {
      max-width: 100%;
    }

    &-DataWrapper {
      flex-direction: column;
      width: calc(100% - 24px);
    }

    &-Number {
      margin-right: 0;
      margin-bottom: var(--space-s);
    }

    &-DataTitle {
      flex-direction: column;
    }

    &-DataOther {
      flex-direction: column;
      margin-bottom: 0;
    }

    &-OtherInfo {
      &:last-child {
        margin-bottom: var(--space-s);
      }
    }

    &-CommitName {
      margin-right: 0;
      white-space: unset;
      overflow: unset;
      text-overflow: unset;
    }

    &-TimeBlock {
      margin-left: 0;
      align-self: flex-start;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      position: relative;
      margin-top: var(--space-s);

      &::after {
        content: '';
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--blue-grey-50);
      }
    }

    &-TimeItem {
      margin-right: 10px;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}