$screen-minimum: 270px;
$screen-mobile-small: 320px;
$screen-mobile: 576px;
$screen-desktop: 1024px;

:root {
  --white-500: #ffffff;
  --black-500: #000000;
  --blue-grey-50: #f0f2f3;
  --blue-grey-500: #7f8285;
  --blue-grey-600: #434445;
  --blue-grey-600-with-opacity: rgba(67, 68, 69, 0.3);
  --green-500: #00b341;
  --orange-500: #f2994a;
  --yellow-500: #ffcc00;
  --red-500: #ff3333;
  --red-600: #e00000;

  --color-bg-base: var(--white-500);
  --color-bg-heavy: #d9d9d9;
  --color-bg-control: #e6e6e6;
  --color-bg-control-hovered: #dbdbdb;
  --color-bg-disabled: #f2f2f2;
  --color-bg-action: var(--yellow-500);
  --color-bg-action-hovered: #f2c200;

  --color-border-focused: #b3b3b3;
  --color-border-action-focused: #b38f00;

  --color-text: var(--black-500);
  --color-text-disabled: #7f7f7f;

  --border-radius-s: 4px;
  --border-radius-l: 6px;

  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 12px;
  --space-l: 16px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-xxxl: 64px;
  --space-xxxxl: 124px;

  --text-font-size-xs: 10px;
  --text-font-size-s: 13px;
  --text-font-size-m: 15px;
  --text-font-size-l: 18px;

  --letter-spacing-s: 0.03px;
  --letter-spacing-m: 0.06px;
  --letter-spacing-l: 0.25px;

  --headline-font-m: 15px;
  --headline-font-xl: 24px;
}

@import "./base-blocks/base-blocks.scss";
@import "./content-blocks/content-blocks.scss";
