@import "../../styles/constants.scss";

.WithoutConfiguration {
  display: flex;

  &-Content {
    max-width: $screen-desktop;
    min-width: $screen-minimum;
    margin: auto;
    padding: 10px 100px;
    display: flex;
    flex-direction: column;
  }

  &-Logo {
    align-self: center;
  }

  &-Description {
    align-self: center;
    text-align: center;
    margin-top: var(--space-xxl);
    margin-bottom: var(--space-xl);
    max-width: 200px;
  }

  &-Button {
    align-self: center;
  }

  @media (max-width: $screen-mobile) {
    &-Content {
      padding: 12px 16px;
    }
  }
}
